@import "tailwindcss";

@custom-variant data-filter-disabled (&[data-filter-enabled~="false"]);

@layer base {
    body {
        @apply bg-gray-100;
        display: flex;

        align-items: center;
        justify-content: center;
    }
}